* {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

body {
    margin-left: 130px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

header {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    height: 150px;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 50, 56);
    padding: 25px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    color: rgb(5, 50, 56) ;
    padding: 40px 30px;

}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(5, 50, 56);
    width: 100%;
}

header nav {
    height: 100%;
    width: 130px;
    position: fixed;
    top: 0%;
    left: 0%;
    padding-top: 20%;
    background-image: url(../images/_LKP1293.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow-x: hidden;
}

header nav ul {
    padding: 6px 8px 6px 16px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: block;
}

header nav ul li {
    background-color: rgba(230, 245, 245, 0.7);
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
}


.about-me {
    padding: 40px;
    font-size: 20px;
    border: 10px solid;
    border-color: rgb(32, 122, 118);
    
}
.about-me img {
    max-width: 20%; 
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;

}
/*.my-work img{
    max-height: fit-content;
    max-width: 50%;*/
}
.my-work h2 {
    text-align: left;
}

.work-image img {
    display: inline-block;
    max-height: fit-content;
    max-width: 60%
    
}


/*.run-buddy {
    padding: 20px;
    flex: 33.33%;
    padding: 5px;
    

}
.run-buddy img{
    width: 50%;
    height: 50%;

}
.horiseon {
    padding: 20px;
    flex: 33.33%;
    padding: 5px;
    


}
.horiseon img {
    width: 50%;
    height: 50%;

}*/
.contact-me h2 {
    margin-top: 50px;
}
.contact-me {
    margin-top: 40px;
    padding: 40px;
    font-size: 15px;
    display: inline;
}

.contact-me ul li {
    list-style: none;
    display: inline;
    justify-content: space-between;
    padding: 30px;
    width: auto;
}

footer {
    text-align: center;
    padding: 40px;
    flex-wrap:wrap;

}



img:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
      
    header h1, h2 {
        width: 100%;
        text-align: center;
        padding: 15px;
    }
      
    header nav ul {
        width: 100%;
        justify-content: center;
    }
      
    header nav ul li {
        font-size: 20px;
    }
      
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
        
    .about-me {
        text-align: center;
        font-size: 12px;
    }
    .my-work, .my-work h2{
        width: 100%;
        font-size: 20px;
        align-content: center;
    }
}

        
    
@media screen and (max-width: 768px) {

    section {
        padding: 30px 15px;
    }
      
    .my-work img{
        flex: 100%; 
        display: block; 
    }
    .contact-me ul li {
        text-align: center;
        justify-content: space-around;
        display: block;
    }
}
      
@media screen and (max-width: 575px) {

    header {
        background-size: 100%;
    }
    

    .about-me {
        width: 90%;
    }
          
    .my-work {
        flex: 0 100%;
    }
      
}